In [1]:
# data science
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

# API
import requests
import json

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, text, inspect, func

In [2]:
df = pd.read_csv("Resources/combined_attacks.csv")
df.head()

,case_number,date,year,attack_type,country,area,location,activity,name,sex,...,original_order,unnamed:_22,unnamed:_23,animal_type,count,latitude,longitude,details,month,day
0,2019.08.27,2019-08-27,2019.0,Provoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Donald Walsh,M,...,6452.0,NaN,NaN,shark,172.0,29.025813,-80.927127,NaN,NaN,NaN
1,2019.08.21,2019-08-21,2019.0,Unprovoked,USA,Florida,"Fort Lauderdale, Broward County",Wading,Christian Mariani,M,...,6451.0,NaN,NaN,shark,6.0,26.122308,-80.143379,NaN,NaN,NaN
2,2019.08.20,2019-08-20,2019.0,Unprovoked,USA,Hawaii,"Napoopoo Park in Kealakekua Bay, The Big Island",Swimming,female,F,...,6450.0,NaN,NaN,shark,1.0,30.829423,-82.609586,NaN,NaN,NaN
3,2019.08.16,2019-08-16,2019.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Wading,Maggie Crum,M,...,6449.0,NaN,NaN,shark,172.0,29.025813,-80.927127,NaN,NaN,NaN
4,2019.08.11,2019-08-11,2019.0,Unprovoked,USA,Hawaii,"Makaha Beach, Oahu",Surfing,Max Keliikipi,M,...,6448.0,NaN,NaN,shark,1.0,-12.206631,-77.014699,NaN,NaN,NaN

In [3]:
# Create engine using the `spacex.sqlite` database file
engine = create_engine("sqlite:///combined_attacks.sqlite")

In [4]:
# write to the database
df.to_sql("combined_attacks", con=engine, index=False, method="multi", if_exists="replace")

2329

In [5]:
# INSPECT to confirm existence

# Create the inspector and connect it to the engine
inspector_gadget = inspect(engine)

# Collect the names of tables within the database
tables = inspector_gadget.get_table_names()

# print metadata for each table
for table in tables:
    print(table)
    print("-----------")
    
    # get columns
    columns = inspector_gadget.get_columns(table)
    for column in columns:
        print(column["name"], column["type"])

    print()

combined_attacks
-----------
case_number TEXT
date TEXT
year FLOAT
attack_type TEXT
country TEXT
area TEXT
location TEXT
activity TEXT
name TEXT
sex TEXT
age FLOAT
injury TEXT
fatal_(y/n) TEXT
time TEXT
species TEXT
investigator_or_source TEXT
pdf TEXT
href_formula TEXT
href TEXT
case_number.1 TEXT
case_number.2 TEXT
original_order FLOAT
unnamed:_22 TEXT
unnamed:_23 TEXT
animal_type TEXT
count FLOAT
latitude FLOAT
longitude FLOAT
details TEXT
month FLOAT
day FLOAT

In [6]:
# close the engine
engine.dispose()